@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #121213;
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 100vw;
  max-height: 100vh;
  float: none;
  margin-right: -1.5rem; /* Remove a margem direita */
}

.grid-row-span-2 {
  grid-row: span 2;
}

#container {
  position: relative;
  text-align: center;
  border: solid 20px #1e1e1f;
  border-radius: 20px;
  background-color: #1e1e1f;
  width: 400px;
  height: 300px;
  overflow: hidden;

  grid-column: 3;
  grid-row: 3;
}

#container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  background-color: #1e1e1f;
}

#inputNome {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #1e1e1f;
  color: white;
  height: 40%;

  grid-column: 3;
  grid-row: 4;
}

#inputNome::placeholder {
  color: #5e5e5e;
}

#erro {
  padding: 8px;
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

#contagem {
  font-family: 'Roboto Mono', sans-serif;
  width: 1fr;
  font-size: 1.5rem;

  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: #161e31;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 3;
  grid-row: 2;
}

#scoreBox {
  font-family: 'Roboto Mono', sans-serif;
  color: #161e31;
  background-color: #f9b17a;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px #f9b17a;
  cursor: default;
}

.data-container-l {
  position: relative;
  text-align: center;
  border: solid 10px #1e1e1f;
  border-radius: 20px;
  background-color: #1e1e1f;
  width: 16.5rem;
  height: 23.75rem;
  overflow: hidden;
  color: #f9b17a;
  font-weight: 500;
  cursor: default;

  grid-column: 2;
  grid-row-start: 4;
  grid-row-end: 3;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.data-container-r {
  position: relative;
  text-align: center;
  border: solid 10px #1e1e1f;
  border-radius: 20px;
  background-color: #1e1e1f;
  width: 16.5rem;
  height: 23.75rem;
  overflow: hidden;
  color: #f9b17a;
  font-weight: 500;
  cursor: default;

  grid-column: 4;
  grid-row-start: 4;
  grid-row-end: 3;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

li {
  background-color: #1e1e1f;
  color: white;
}

.reset {
  position: absolute;
  padding: 5px 15px;
  color: white;
  background-color: #28403d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #182625;
  bottom: 10px;
  transform: translate(-50%, 0);
}

.reset:active {
  background-color: #28403d;
  box-shadow: 0 5px #182625;
  transform: translate(-50%, 4px);
}

#dicaBox {
  border-radius: 4px;
  color: #161e31;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, -11.5rem);
  background-color: #f9b17a;
  padding: 5px 10px 5px 10px;
  box-shadow: rgba(249, 177, 122, 0.05) 0px 1px 0px,
    rgba(249, 177, 122, 0.938) 0px 0px 8px;
}

/*--------------------Header--------------------*/
a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: #121213;
  cursor: pointer;
}

.logo:hover::after {
  background: #1e1e1f;
  border-radius: 4px;
  bottom: 100%;
  content: attr(title);
  display: block;
  left: 100%;
  padding: 1em;
  position: absolute;
  width: 280px;
  z-index: 1;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #121213;
  height: 8vh;
  border-bottom: solid 2px #63636363;
}

.nav-list {
  list-style: none;
  display: none;
  background: #121213;
}

.nav-list-normal {
  list-style: none;
  display: flex;
  background: #121213;
}

.nav-list li {
  margin-left: 32px;
}
.nav-list-normal li {
  margin-left: 32px;
}

.icon::before {
  background: #121213;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list-normal {
    display: none;
  }
  .nav-list {
    display: flex;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #121213;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1000;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  a {
    transition: color, text-shadow 0.3s;
  }
  a:hover {
    opacity: 1;
    color: #f9b17a;
    text-shadow: 0 0 5px #f9b17a;
  }
  .logo {
    transition: opacity 0.3s;
  }
  .logo:hover {
    opacity: 0.7;
    color: #fff;
    text-shadow: none;
  }
  .mobile-menu {
    display: block;
    background: #121213;
  }

  .data-container-l {
    display: none;
  }

  .data-container-r {
    display: none;
  }

  .data-container-r-mobile {
    text-align: center;
    border-radius: 20px;
    background-color: #1e1e1f;
    width: 16.5rem;
    height: 13.75rem;
    overflow: hidden;
    color: #f9b17a;
    font-weight: 500;
    cursor: default;

    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .data-container-l-mobile {
    text-align: center;
    border-radius: 20px;
    background-color: #1e1e1f;
    width: 16.5rem;
    height: 13.75rem;
    overflow: hidden;
    color: #f9b17a;
    font-weight: 500;
    cursor: default;

    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .data-container-l-mobile li {
    background-color: #1e1e1f;
  }

  .data-container-r-mobile li {
    background-color: #1e1e1f;
  }

  #dicaBox {
    transform: translate(-50%, -5.5rem);
  }

  .data-containerCont {
    background-color: #1e1e1f;
  }

  li {
    background-color: #121213;
  }
}

.nav-list.active {
  transform: translateX(0);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 12px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.fa-gear {
  transition: transform 0.3s;
}
.fa-gear:hover {
  transform: rotate(90deg);
}

/*settingsMenu*/

.settingsMenu {
  position: absolute;
  z-index: 100;
  background-color: #000000ce;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.settings {
  z-index: 101;
  background-color: #121213;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  transform: translateY(100%);
  transition: transform 0.5s;
}

.settings.active {
  transform: translateY(0);
}

.close {
  color: #fff;
  font-size: 2rem;
  background-color: #121213;
  position: relative;
  left: 100%;
  margin-left: -3rem;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}

.settingsContent {
  background-color: #121213;
}

.settingsTitle {
  position: relative;
  color: #f9b17a;
  background: rgba(0, 0, 0, 0);
  transform: translateY(-20px);
  text-align: center;
  letter-spacing: 1px;
  font-size: x-large;
  font-weight: 500;
  cursor: default;
}

.feedback,
.email {
  color: #fff;
  background-color: #121213;
  display: flex;
  justify-content: space-between;
  margin: 10px 1rem 0.5rem 1rem;
  cursor: default;
  font-size: large;
}

.feedback {
  border-bottom: 2px solid #63636363;
}

.email {
  margin-top: 0;
  margin-right: 0;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.616);
}
